########### ANCIBLE MANAGED FILE ###########

user              {{ nginx_user }};
worker_processes  {{ nginx_worker_processes }};

error_log         {{ nginx_log_dir }}/{{ nginx_error_log }} {{ nginx_error_log_level }};
pid               {{ nginx_pid }};


events {
    worker_connections  {{ nginx_worker_connections }};
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  {{ nginx_access_log_format }}  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ nginx_log_dir }}/{{ nginx_access_log }} {{ nginx_access_log_format }};

    {% for item in nginx_common_params %}
    {{ item }}
    {% endfor %}

    {% for item in nginx_gzip_params %}
    {{ item }}
    {% endfor %}

    include /etc/nginx/conf.d/*.conf;
}
